{% extends "main.twig" %}
{% block css %}
<link rel="stylesheet" href="/organizer-breakable/style/style.css">
{% endblock css %}

{% block header %}
<div class="has-text-centered">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1"><a href="index.php">Organizer</a></h1>
            </div>
        </div>
    </section>
</div>
{% endblock header %}

{% block main %}
<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-fifths is-centered">
                <div class="box" id="main">
                    <h2 class="title is-5">Log In</h2>
                    {% if error is not empty %}
                    <h3 class="title is-6 has-text-danger">
                        {{ error }}
                    </h3>
                    {% endif %}
                    <form action="loginpage/logInHandling.php" method="post">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" required type="text" name="email" id="email" placeholder="Enter Email Address" value="{{ email }}"><br>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" required type="password" name="password" id="password" placeholder="Enter Password"><br>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button type="submit" class="button is-primary" onclick="pageLoader()">login</button>
                        </div>
                    </form>
                    <br>
                    <div class="field">
                        <h2 class="title is-5 is-centered">No account yet?</h2>
                        <a href="loginpage/signUp.php" class="button is-primary is-light is-centered">Sign up!</a>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section> 
{% endblock main %}
