{% extends "/main.twig" %}

{% block css %}
<link rel="stylesheet" href="/organizer-breakable/style/style.css">    
{% endblock css %}

{% block header %}
<div class="has-text-centered">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1"><a href="index.php">Organizer</a></h1>
            </div>
        </div>
    </section>
</div>    
{% endblock header %}

{% block main %}
<main id="signUp">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-two-fifths is-centered">
                    <div class="has-text-danger">
                        {{ error }}
                    </div>
                    <div class="box">
                        <h2 class="is-size-5">Insert Details</h2>
                        <form action="validateHandling.php" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="email" name="email" id="email" placeholder="E-mail Address" required>
                                </div>
                            </div>
                            <div class="field">
                                <input type="submit" name="check" class="button is-primary">
                            </div>
                        </form>
                        <br>
                        <div class="field">
                            <h2 class="is-size-5">Already have an account?</h2>
                            <a href="../index.php" class="button is-danger is-light">Go Back!</a>
                        </div>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}