<section class="hero">
    <div class="hero-body">
        <h1 class="title is-1"><a href="/organizer-breakable/index/index.php">Organizer</a></h1>
        <div class="line"></div>
    </div>
</section>