{% extends "main.twig" %}

{% block main %}
<main id="workplace-input">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-one-third">
                    <div class="box">
                        <form action="workplaceInsertHandling.php" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" name="workplace" placeholder="Workplace" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="number" name="wage" placeholder="Wage" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="number" name="transportation" placeholder="Transportation" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" name="address" placeholder="Address" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" name="contactDetails" placeholder="Contact Details" required> <br>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="startDate">Date Started :</label>
                                <div class="control">
                                    <input class="input" type="date" name="startDate" id="startDate" required><br>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="button is-primary">Submit</button>
                                <a href="index.php" class="button is-danger">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}