{% extends "/main.twig" %}

{% block main %}
<main class="handling">
    <section class="section is-large">
        <div class="container">
            <h2 class="title is-3">Good bye!</h2>
        </div>
    </section>
</main>
{% endblock main %}