{% extends "/main.twig" %}

{% block main %}
<main id="profile-view">
    <section class="section">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <h2 class="title is-3">Profile</h2>
                <table class="table is-striped is-fullwidth is-bordered">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            {{ user.lastName|e }} {{ user.firstName|e }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email Address
                        </td>
                        <td>
                            {{ user.email|e }}
                        </td>
                    </tr>
                </table>
                <div class="field">
                    <a href="index.php" class="button is-primary">Back</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}